In [1]:
import pandas as pd
import numpy as np

In [2]:
# define dataset
data = pd.DataFrame(
    [
        ("young", "high", False, "fair", False),
        ("young", "high", False, "excellent", False),
        ("middle", "high", False, "fair", True),
        ("senior", "medium", False, "fair", True),
        ("senior", "low", True, "fair", True),
        ("senior", "low", True, "excellent", False),
        ("middle", "low", True, "excellent", True),
        ("young", "medium", False, "fair", False),
        ("young", "low", True, "fair", True),
        ("senior", "medium", True, "fair", True),
        ("young", "medium", True, "excellent", True),
        ("middle", "medium", False, "excellent", True),
        ("middle", "high", True, "fair", True),
        ("senior", "medium", False, "excellent", False),
    ], 
    columns=["age", "income", "student", "credit_rating", "buys_computer"]
)
target = "buys_computer"
data

       age  income  student credit_rating  buys_computer
0    young    high    False          fair          False
1    young    high    False     excellent          False
2   middle    high    False          fair           True
3   senior  medium    False          fair           True
4   senior     low     True          fair           True
5   senior     low     True     excellent          False
6   middle     low     True     excellent           True
7    young  medium    False          fair          False
8    young     low     True          fair           True
9   senior  medium     True          fair           True
10   young  medium     True     excellent           True
11  middle  medium    False     excellent           True
12  middle    high     True          fair           True
13  senior  medium    False     excellent          False

In [3]:
# Calculate entropy of a series
def entropy(p: pd.Series) -> float:
    # count the occurrences of each value
    counts = p.value_counts()
    total = counts.sum()
    # calculate the entropy
    return counts.apply(lambda x: -x/total*np.log2(x/total)).sum()

# Calculate entropy of a feature splitting the data by the target
def f_entropy(data: pd.DataFrame, feature: str, target: str = target) -> float:
    # count the occurrences of each feature value
    counts = data[feature].value_counts()
    total = counts.sum()

    results = []
    for value, count in counts.items():
        # find the target values for the feature value
        split = data[data[feature] == value][target]
        # calculate the entropy weighted by the count of the feature value
        results.append(entropy(split) * count / total)

    # return the sum of the weighted entropies as feature entropy
    return np.sum(results)

# Calculate information gain of a feature splitting the data by the target
def gain(data: pd.DataFrame, feature: str, target: str = target) -> float:
    return entropy(data[target]) - f_entropy(data, feature, target)

def round(x: np.ndarray, d: int = 3) -> float:
    return np.round(x, decimals=d)

print("Dataset entropy: %.3f" % round(entropy(data[target]), 3), end="\n\n")

print("Feature entropies and information gain:")
results = pd.DataFrame({
    feature: {
        "entropy": round(f_entropy(data, feature)),
        "gain": round(gain(data, feature))
    } for feature in ["age", "income", "student", "credit_rating"]
}).T.sort_values("gain", ascending=False)
results

Dataset entropy: 0.940

Feature entropies and information gain:

               entropy   gain
age              0.694  0.247
student          0.788  0.152
credit_rating    0.892  0.048
income           0.911  0.029

In [4]:
# Calculate the intrinsic value (split information) of a feature
def iv(data: pd.DataFrame, feature: str) -> float:
    return entropy(data[feature])

# Calculate the normalized information gain of a feature
def n_gain(data: pd.DataFrame, feature: str, target: str = target) -> float:
    info_gain = gain(data, feature, target)
    split_info = iv(data, feature)
    return info_gain / split_info

print("Feature intrinsic value, and normalized information gain:")
results = pd.DataFrame({
    feature: {
        "intrinsic_value": round(iv(data, feature)),
        "normalized_gain": round(n_gain(data, feature))
    } for feature in ["age", "income", "student", "credit_rating"]
}).T.sort_values("normalized_gain", ascending=False)
results

Feature intrinsic value, and normalized information gain:

               intrinsic_value  normalized_gain
age                      1.577            0.156
student                  1.000            0.152
credit_rating            0.985            0.049
income                   1.557            0.019

In [5]:
# Calculate the Gini impurity of a series
def gini(p: pd.Series) -> float:
    # count the occurrences of each value
    counts = p.value_counts()
    total = counts.sum()
    # calculate the Gini impurity
    return 1 - counts.apply(lambda x: (x/total)**2).sum()

# Calculate the Gini impurity of a feature splitting the data by the target
def f_gini(data: pd.DataFrame, feature: str, target: str = target) -> float:
    # count the occurrences of each feature value
    counts = data[feature].value_counts()
    total = counts.sum()

    best_gini = 0
    for value, count in counts.items():
        # find the target values for the feature value
        split1 = data[data[feature] == value][target]
        split2 = data[data[feature] != value][target]
        # calculate the binary Gini impurity weighted by the count of the feature value
        gini1 = gini(split1) * count / total
        gini2 = gini(split2) * (total - count) / total
        best_gini = np.max([best_gini, gini1 + gini2])

    # return the sum of the weighted impurities as feature impurity
    return best_gini

print("Dataset Gini index: %.3f" % round(gini(data[target]), 3), end="\n\n")

print("Feature Gini impurities:")
results = pd.DataFrame({
    feature: {
        "gini": round(f_gini(data, feature))
    } for feature in ["age", "income", "student", "credit_rating"]
}).T.sort_values("gini", ascending=True)
results

Dataset Gini index: 0.459

Feature Gini impurities:

                gini
student        0.367
credit_rating  0.429
age            0.457
income         0.458

In [6]:
from typing import Self, Any

class Node:
    """
    A simple tree node class.
    """

    def __init__(self, label: Any):
        self._label = label
        self._nodes = {}
    
    def append(self, node: Self, branch: Any):
        """
        Append a child node to the current node.
        """
        self._nodes[branch] = node

    @property
    def label(self) -> Any:
        return self._label

    @property
    def nodes(self) -> dict[Any, Self]:
        return self._nodes.copy()
    
    def __repr__(self) -> str:
        def print_tree(node: Node, level: int = 0) -> None:
            ret = ""
            for branch, child in node._nodes.items():
                ret += "  " * level + str(node.label) + " : " + str(branch)
                if len(child._nodes) == 0:
                    ret += " --> " + str(child.label) + "\n"
                else:
                    ret += "\n" + print_tree(child, level + 2)
            return ret
        return print_tree(self, level=2)
    
    def __str__(self) -> str:
        return self.__repr__()

In [7]:
# build a decision tree using the ID3, C4.5 or CART algorithm
def build_tree(data: pd.DataFrame, target: str, method: str = "ID3") -> Node:
    target_values = data[target].unique()
    features = data.drop(target, axis=1).columns

    # if the data is pure, return a leaf node
    if len(target_values) == 1:
        return Node(data[target].unique()[0])

    # if there are no features left, return a leaf node with the majority class
    if len(features) == 0:
        return Node(data[target].value_counts().idxmax())

    # find the feature with the highest information gain
    if method == "ID3":
        feature = max(features, key=lambda x: gain(data, x, target))
    elif method == "C4.5":
        feature = max(features, key=lambda x: n_gain(data, x, target))
    elif method == "CART":
        # bad: max(features, key=lambda x: gini(data[target]) - f_gini(data, x, target))
        feature = min(features, key=lambda x: f_gini(data, x, target))
    else:
        raise ValueError("method must be 'ID3', 'C4.5' or 'CART'")

    # create a new node with the feature
    node = Node(feature)

    # for each value of the feature, build a subtree
    for value in data[feature].unique():
        subset = data[data[feature] == value].drop(feature, axis=1)
        node.append(build_tree(subset, target, method), value)

    return node

In [8]:
print("ID3 decision tree:", end="\n\n")
print(build_tree(data, target))

ID3 decision tree:

    age : young
        student : False --> False
        student : True --> True
    age : middle --> True
    age : senior
        credit_rating : fair --> True
        credit_rating : excellent --> False

In [9]:
print("C4.5 decision tree:", end="\n\n")
print(build_tree(data, target, method="C4.5"))

C4.5 decision tree:

    age : young
        student : False --> False
        student : True --> True
    age : middle --> True
    age : senior
        credit_rating : fair --> True
        credit_rating : excellent --> False

In [10]:
print("CART decision tree:", end="\n\n")
print(build_tree(data, target, method="CART"))

CART decision tree:

    student : False
        income : high
            age : young --> False
            age : middle --> True
        income : medium
            age : senior
                credit_rating : fair --> True
                credit_rating : excellent --> False
            age : young --> False
            age : middle --> True
    student : True
        credit_rating : fair --> True
        credit_rating : excellent
            age : senior --> False
            age : middle --> True
            age : young --> True